.customPagination {
    display: flex;
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

.customPagination>a {
    padding: 50px 10px;
    width: 100px;
}

.input_item {
    width: 120px;
}

.headerwrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 15px;
    justify-content: space-between;
}

.sortdateWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}